<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.authors[site.site_author].display_name }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico"/>

        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet" type="text/css"/>
        <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-light bg-light" role="navigation">
            <div class="container-md">
                <a class="navbar-brand" href="{{ HOME_PATH }}">
                    <img src="{{ ASSET_PATH }}/images/logo_small.png" alt="logo">
                </a>
                <a class="navbar-brand avatar" href="{{ site.authors[site.site_author].about }}">
                    <img src="https://s.gravatar.com/avatar/{{ site.authors[site.site_author].gravatar }}?s=80" alt="avatar">
                </a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        {% assign pages_list = site.pages | sort:"name" %}
                        {% assign group = 'navigation' %}
                        {% include JB/pages_list %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            {{ content }}
        </div>

        <div class="footer">
            <div class="container">
                <p>
                    &copy; <a href="{{ site.authors[site.site_author].about }}">{{ site.authors[site.site_author].display_name }}</a>
                    {{ site.time | date: '%Y' }}
                </p>
            </div>
        </div>

        {% include JB/analytics %}
    </body>
</html>
