
<div class="container">
    <h1>{{ page.title }}</h1>
</div>

<div class="container post">
    <div class="post_info">
        <small class="author">
            <a href="{{ site.authors[page.author].about }}">{{ site.authors[page.author].display_name }}</a>
        </small>
        <small class="updated text-muted">{{ page.date | date: "%b %-d, %Y" }}</small>
    </div>
    <p/>
    {{ content }}
    <div class="pagination_container">
        <div class="pagination btn-group" role="group">
            {% if page.previous %}
            <a
                class="prev btn btn-light"
                href="{{ BASE_PATH }}{{ page.previous.url }}"
                title="{{ page.previous.title }}">
                Previous
            </a>
            {% else %}
            <a class="prev btn btn-light disabled">Previous</a>
            {% endif %}
            {% if page.next %}
            <a
                class="next btn btn-light"
                href="{{ BASE_PATH }}{{ page.next.url }}"
                title="{{ page.next.title }}">
                Next
            </a>
            {% else %}
            <a class="next btn btn-light disabled">Next</a>
            {% endif %}
        </div>
    </div>
    {% unless page.tags == empty %}
    <h4>Tags</h4>
    <div class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </div>
    {% endunless %}
</div>
