---
layout: page
title: Brain, what do you want to do tonight?
---
{% include JB/setup %}

<div class="main">
    <p class="lead">
        The same thing we do every night, dude&ndash;try to squash stupid bugs!
    </p>

    <div class="posts_summary">
        {% for post in paginator.posts %}
        <div class="post_summary">
            <h3>
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </h3>
            <small class="author">
                By <a href="{{ site.authors[post.author].about }}">{{ site.authors[post.author].display_name }}</a>
            </small>
            <small class="date">
                {{ post.date | date: "%B %-d %Y" }}
            </small>

            <p class="excerpt">{{ post.excerpt | markdownify }}</p>
            <a href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
        </div>
        {% endfor %}
    </div>

    <div class="pagination_container">
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li class="prev">
            {% if paginator.previous_page == 1 %}
            <a href="/" title="Previous Page">Previous</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}" title="Previous Page">Previous</a>
            {% endif %}
            </li>
            {% else %}
            <li class="prev disabled">
            <a>Previous</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
            <a href="/page{{ paginator.next_page }}" title="Next Page">Next</a>
            </li>
            {% else %}
            <li class="next disabled">
            <a>Next</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

