@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }

  .content {
    background-color: #1c1b22;
  }

  .bg-light {
    background-color: #322d52 !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #d1d1d1;
  }

  .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  nav.navbar .navbar-brand.logo {
    background-image: url("/assets/themes/initialxy/images/logo_light_small.png");
}

  .footer {
    background-color: #322d52;
  }

  .highlight {
    background: #2a2a32;
  }

  .highlight .nn {
    color: #d1d1d1;
  }

  .highlight .nf {
    color: #ff6666;
  }

  .highlight .nt {
    color: #8080ff;
  }

  .highlight .s,
  .highlight .se,
  .highlight .s1,
  .highlight .s2 {
    color: #f47192;
  }

  .content blockquote,
  pre.highlight {
    background-color: #2a2a32;
    border-color: #36363f;
  }

  a, a:visited {
    color: #81b3fe;
  }

  a:hover, a:focus, a:active {
    color: #9ac2fe;
  }

  .btn-light {
    color: #d1d1d1;
    background-color: #2c293d;
    border-color: #2c293d;
  }

  .btn-light:hover, .btn-light:focus, .btn-light:activate {
    color: white;
    background-color: #312d43;
    border-color: #312d43;
  }

  .btn-light:disabled, .btn-light.disabled {
    color: #6e6699;
    background-color: #211f2e;
    border-color: #211f2e;
  }


  .content .tag .badge {
    background-color: #433d5c;
    color: #818a92;
  }

  h1 {
    color: #a356f0;
  }

  .text-muted {
    color: #818a92 !important;
  }

  code {
    color: #ea95bf;
  }
}