
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
}

.footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

.author a:link,
.author a:visited,
.author a:hover,
.author a:active {
    color: inherit;
}

.authorship {
    display: none;
}

.content {
    background-color: white;
    padding: 2em 0 1em 0;
    background-image: url("/assets/themes/initialxy/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 1em;
}

h1 {
    color: #5c0fa8;
    font-family: 'Bebas Neue', serif;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
}

nav.navbar .navbar-brand img {
    width: 2rem;
    height: 2rem;
}

nav.navbar .navbar-brand.avatar {
    margin: 0;
}

nav.navbar .navbar-brand.avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

nav.navbar .navbar-nav .nav-link {
    padding: 0 0.5rem 0 0.5rem;
}

.content .tag_box {
    margin: 1rem 0;
}

.content .tag {
    margin: 0.2rem 0 0.2rem 0;
}

.content .tag .badge {
    margin-left: 1rem;
    background-color: #e5e5e5;
    color: #5e5e5e;
}

.content .post_summary {
    margin-bottom: 2rem;
}

.content .post img,
.content .post_summary img {
    max-width: 100%;
}

.content .pagination_container {
    text-align: center;
    margin: 2rem 0;
}

.content .pagination_container a {
    display: block;
    width: 10rem;
    text-align: center;
}

.content .pagination_container a.prev:before,
.content .pagination_container a.next:before {
    content: "\002190\0000a0";
}

.content .pagination_container a.prev:after,
.content .pagination_container a.next:after {
    content: "\0000a0\002192";
}

.content .pagination_container a.prev:after {
    visibility: hidden;
}

.content .pagination_container a.next:before {
    visibility: hidden;
}

.post_info {
    margin-bottom: 0.5rem;
}

.post_info small.updated::before {
    content: " | ";
}

.content .about_me {
    overflow: hidden;
    margin: 1rem 0;
}

.content table {
    margin-bottom: 1rem;
    border: 1px solid #e7e7e7;
}

.content .table_too_wide {
    max-width: 100%;
    overflow: auto;
}

.content td,
.content th {
    padding: 1rem;
}

.content td {
    border-top: 1px solid #e7e7e7;
}

.content th {
    border-bottom: 2px solid #e7e7e7;
}

.content pre {
    border: 1px solid #e7e7e7;
    background-color: #f8f9fa;
    padding: 1rem;
}

.content blockquote {
    border-left: 5px solid #e7e7e7;
    background-color: #f8f9fa;
    padding: 1rem;
}

.content blockquote>p {
    margin: 0;
}

.content .preview_img_3 > p > img {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .content .preview_img_3 > p > img {
        width: 33.3%;
    }
}