input.m-hidden {
    display: none;
}

body {
    background-color: #f8f8f8;
}

img {
    max-width: 100%;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 2em 0 2em 0;
}

.author a:link,
.author a:visited,
.author a:hover,
.author a:active {
    color: inherit;
}

.authorship {
    display: none;
}

.content {
    background-color: white;
    padding-bottom: 1em;
}

.content .page-header {
    margin: 0 0 1em 0;
    padding: 2em 0 2em 0;
}

.content .page-header h1 {
    margin: 0;
    color: #5c0fa8;
}

.content .lead {
    margin: 0 0 1em 0;
}

.content .main .posts_summary {
    margin: 1em 0 1em 0;
}

.content .main .pagination {
    margin: 0;
}

.content .main .pagination_container {
    margin-top: 1em;
}

nav.navbar.navbar-static-top {
    margin-bottom: 0;
}

.content .tag {
    margin: 0.2em 0 0.2em 0;
}

.content .tag .badge {
    margin-left: 1em;
    background-color: #e5e5e5;
    color: #5e5e5e;
}

.content .post_summary .author:after {
    content: ",";
}

.content .pagination_container {
    text-align: center;
}

.content .pagination_container li a {
    display: block;
    width: 10em;
    text-align: center;
}

.content .pagination_container li.prev a:before,
.content .pagination_container li.next a:before {
    content: "\002190\0000a0";
}

.content .pagination_container li.prev a:after,
.content .pagination_container li.next a:after {
    content: "\0000a0\002192";
}

.content .pagination_container li.prev a:after {
    visibility: hidden;
}

.content .pagination_container li.next a:before {
    visibility: hidden;
}

.content .post .pagination_container li.archive {
    display: none;
}

.content .post .info {
    margin-bottom: 1em;
    overflow: hidden;
}

.content .post .info .avatar {
    margin-right: 0.5em;
    float: left;
    height: 2.5em;
    width: auto;

    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.content .post .info small {
    display: block;
}

.content .about_me .avatar {
    float: left;
    margin-right: 0.5em;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.content td,
.content th {
    padding: 0.5em;
    border: 1px solid #e7e7e7;
}

.content th {
    background-color: #f8f8f8;
}

/* Tweaks for devices larger than phone. */
@media (min-width: 768px) {
    .content .pagination_container {
        text-align: left;
    }
}

/* Tweaks for devices larger than tablet. */
@media (min-width: 992px) {
}

/* Custom Moot styling. */
.content .moot button, .m-button {
    background-color: #5c0fa8;
}

.content .m-focused .m-input-wrap {
    border-color: #5c0fa8;
    box-shadow: 0 0 .2em #5c0fa8 inset;    
}

.content .m-focused.m-replyform textarea {
    border-color: #5c0fa8;
    box-shadow: 0 0 .2em #5c0fa8 inset; 
}

.content .m-page a {
    color: #5c0fa8;
}

.content .m-page {
    padding-right: 0;
}

.content .is-threaded {
    padding: 0;
}

.content .m-logo.m-below-fold {
    margin-left: 0;
    margin-right: 0;
}
