input.m-hidden {
    display: none;
}

body {
    background-color: #f8f8f8;
}

img {
    max-width: 100%;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 2rem 0 2rem 0;
}

.author a:link,
.author a:visited,
.author a:hover,
.author a:active {
    color: inherit;
}

.authorship {
    display: none;
}

.content {
    background-color: white;
    padding-bottom: 1rem;
}

.content .page-header {
    margin: 0 0 1rem 0;
    padding: 2rem 0 2rem 0;
}

.content .page-header h1 {
    margin: 0;
    color: #5c0fa8;
}

.content .lead {
    margin: 0 0 1rem 0;
}

.content .main .pagination {
    margin: 0;
}

.content .main .pagination_container {
    margin-top: 1rem;
}

nav.navbar {
    border-bottom: 1px solid #e7e7e7;
}

nav.navbar>.container {
    justify-content: flex-start;
    -ms-flex-pack: start;
}

nav.navbar .navbar-brand img {
    width: 30px;
    height: 30px;
}

nav.navbar .navbar-nav {
    flex-direction: row;
    -ms-flex-direction: row;
}

nav.navbar .navbar-nav .nav-link {
    padding: 0 0.5rem 0 0.5rem;
}

.content .tag {
    margin: 0.2rem 0 0.2rem 0;
}

.content .tag .badge {
    margin-left: 1rem;
    background-color: #e5e5e5;
    color: #5e5e5e;
}

.content .post_summary {
    margin: 1rem 0 1rem 0;
}

.content .post_summary .author:after {
    content: ",";
}

.content .pagination_container {
    text-align: center;
}

.content .pagination_container a {
    display: block;
    width: 10rem;
    text-align: center;
}

.content .pagination_container a.prev:before,
.content .pagination_container a.next:before {
    content: "\002190\0000a0";
}

.content .pagination_container a.prev:after,
.content .pagination_container a.next:after {
    content: "\0000a0\002192";
}

.content .pagination_container a.prev:after {
    visibility: hidden;
}

.content .pagination_container a.next:before {
    visibility: hidden;
}

.content .post .info {
    margin-bottom: 1rem;
    overflow: hidden;
}

.content .post .info .avatar {
    margin-right: 0.5rem;
    float: left;
    height: 2.5rem;
    width: auto;

    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
}

.content .post .info small {
    display: block;
}

.content .about_me .avatar {
    float: left;
    margin-right: 0.5rem;

    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.content td,
.content th {
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
}

.content th {
    background-color: #f8f8f8;
}

/* Tweaks for first gen iPhones. */
@media (max-width: 320px) {
    nav.navbar .navbar-nav {
        font-size: 80%;
    }
}

/* Tweaks for devices larger than phone. */
@media (min-width: 768px) {
    .content .pagination_container {
        text-align: left;
    }
}

/* Tweaks for devices larger than tablet. */
@media (min-width: 992px) {
}

.content .m-focused .m-input-wrap {
    border-color: #5c0fa8;
    box-shadow: 0 0 .2rem #5c0fa8 inset;    
}

.content .m-focused.m-replyform textarea {
    border-color: #5c0fa8;
    box-shadow: 0 0 .2rem #5c0fa8 inset; 
}

.content .m-page a {
    color: #5c0fa8;
}

.content .m-page {
    padding-right: 0;
}

.content .is-threaded {
    padding: 0;
}

.content .m-logo.m-below-fold {
    margin-left: 0;
    margin-right: 0;
}
